.customBtn{
    font-size: 16px;
    color: #0A2640;
    transition-property: background;
    transition-duration: 0.4s;
    box-sizing: border-box;
    box-sizing: content-box;
}
.customBtn:hover{
    background-color: #65E4A3 !important;
    
}
.customBtn:active{
    transform: scale(0.95);
}

.sectionHeader {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #777777;
    line-height: 32px;
}
.sectionDescription {
    width: 842px;
    margin: 0 auto;
    color: black;
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
}