.navigator a{
    color: #ffffff;
    transition-duration: 0.2s;
}
.navigator a:hover{
    color: #65E4A3;
}
.logo {
    display: inline-flex;
    flex-direction: column;
}
.logo_top_rectangle {
    width: 21.78px;
    height: 16.03px;
    border-radius: 0px 14.5168px 14.5168px 0px;
}
.logo_bottom_rectangle {
    width: 31.31px;
    height: 21.37px;
    border-radius: 0px 14.5168px 14.5168px 0px;
}