footer .logo a {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 43.25px;
    line-height: 34px;
    margin-bottom: 2rem;
}

footer .logo p,
footer .logo small {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
}

footer .group h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: black;
}

footer .group a {
    display: block;
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
footer .group a:not(:last-child) {
    margin-bottom: 1rem;
}